body {
    background-color: #aed6f1; 
    margin: 0;
    padding: 0;
  }
  
  html, body, #root {
    height: 100%;
    margin: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .main-content {
    flex: 1; 
  }
  .titulo-favoritos {
    text-align: center;
    font-size: 36px;      
    font-weight: bolder;
    color: #003366;
    margin: 20px 0;
    letter-spacing: 0.5px;     
    text-transform: uppercase; 
  }
  