.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

h2 {
  width: 100%;
  text-align: center;
  margin: 40px 0 20px;
  font-size: 26px;
  font-weight: 700;
  color: #222;
  padding-bottom: 10px;
}


.contenedor-boton {
  display: flex;
  justify-content: center; 
  margin: 20px 0;
  padding-bottom: 20px;
}

.vertodas {
  padding: 8px 12px;
  background-color: #636262;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.vertodas:hover {
  background-color: #000000;
}