/* Contenedor principal */
#movies {
  display: flex;
  flex-wrap: wrap;     
  justify-content: center;
  gap: 20px;           
  padding: 20px;
  background-color: #f4f4f4;
}

/* la tarjeta */
.single-card-movie {
  background: #fff;
  border-radius: 8px;
  width: 18%;       
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  margin: 10px;
}


.card-img-top {
  width: 100%;
  height: 330px;
  object-fit: cover; 
}


.cardBody {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}


.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Texto */
.card-text {
  font-size: 13px;
  color: #555;
  flex: 1;
  margin-bottom: 10px;
  overflow: hidden;
}

/* Botón */
.btn {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
}


/* el responsive */
@media (max-width: 768px) {
  .single-card-movie {
    width: 45%;   
  }
  .card-img-top {
    height: 280px;
  }
}

/* Celulares */
@media (max-width: 480px) {
  .single-card-movie {
    width: 90%;   
  }
  .card-img-top {
    height: 220px;
  }
}